body {
  padding: 1em 1.5em 1em 1.5em;
  background: url("images/brushed.png");
}

th.ascending:after{
  content:'\f0d8';
  font-family: FontAwesome;
  margin: 5px;
}

th.descending:after{
  content:'\f0d7';
  font-family: FontAwesome;
  margin: 5px;
}

#profile-page { 
	text-align: center;
}

#contacts-nav{
	text-align: left;
}

#profile-pic {
	border-radius: 100px;
}

#profile-info-table {
	width:300px;
  margin: 10px auto;
}

#profile-info-table td{
	text-align: left;
}
#profile-info-table th{
	line-height: 15px;
	text-align: left;
	vertical-align: top;
	width: 80px;
	word-wrap: break-word;
	color: #a4a7a1;
}
