body {
  padding: 1em 1.5em 1em 1.5em;
  background: url("images/brushed.png");
}

th { 
}

th.ascending:after{
  content:'\f0d8';
  font-family: FontAwesome;
  margin: 5px;
}

th.descending:after, th:hover:after{
  content:'\f0d7';
  font-family: FontAwesome;
  margin: 5px;
}
